extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura
    
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quia amet reprehenderit odio ut obcaecati illum aliquid corporis optio quos tenetur repudiandae dolores dolorem dignissimos voluptatem, odit commodi perferendis quas esse inventore 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis incidunt dolores repellat sed eos amet a rem saepe nobis culpa?  
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")

        include ../layout/partials/viajes
    
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2019 - 28 de Marzo de 2019
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
